/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-size: 15px;
  line-height: 1;
  font-family: "Poppins",sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  display: inline-block;
  padding: 8px 10px;
  margin-right: 8px;
  color: #171717;
  text-decoration: none;
  font-weight: 600;
}

.active {
  color: #FF5A00 !important;
}

.header .container-fluid .row .top_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header .container-fluid .row .top_bar .top_bar-logo .icon-logo .title-logo a {
  color: #FF5A00;
  font-family: "Mochiy Pop P One",sans-serif;
}

.header .container-fluid .row .top_bar .top_bar-nav .nav-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link {
  position: relative;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  --myContent: "\f107";
}

.header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link::after {
  content: var(--myContent);
  display: inline-block;
  padding: 0 0 0 4px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link:hover {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #FF5A00;
  --myContent: "\f106"
         ;
}

.header .container-fluid .row .top_bar .top_bar-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container-fluid .row .top_bar .top_bar-login .btn-login {
  border: 1px solid #faf7f7b7;
  font-weight: 600;
}

.header .container-fluid .row .top_bar .top_bar-login .btn-login:hover {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: #FF5A00;
}

.header .container-fluid .row .top_bar .expert {
  margin-left: 20px;
}

.header .container-fluid .row .top_bar .expert .expert-contact .expert-link {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  background-color: #171717;
  color: #fff;
}

.header .container-fluid .row .top_bar .expert .expert-contact .expert-link:hover {
  -webkit-box-shadow: 0 0 6px 4px aqua;
          box-shadow: 0 0 6px 4px aqua;
}

.main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .intro .box-intro {
  text-align: center;
  max-width: 800px;
  padding-top: 60px;
}

.main .intro .box-intro .box-title {
  width: 800px;
  height: 80px;
}

.main .intro .box-intro .box-title .title {
  display: inline-block;
  color: aqua;
  background-color: #ff590080;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: bold;
  border: none;
  -webkit-box-shadow: 0 0 20px 5px #FF5A00;
          box-shadow: 0 0 20px 5px #FF5A00;
  font-family: "Roboto Condensed",sans-serif;
}

.main .intro .box-intro .desc {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: "Raleway",sans-serif;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.main .intro .box-intro .box-img {
  position: relative;
  width: 100%;
  height: 400px;
}

.main .intro .box-intro .box-img .img {
  position: absolute;
  top: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
/*# sourceMappingURL=app.css.map */