/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-size: 15px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  height: 100vh; }

body::-webkit-scrollbar {
  display: none; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  transition: all linear 0.2s;
  display: inline-block;
  padding: 8px 10px;
  margin-right: 8px;
  color: #171717;
  text-decoration: none;
  font-weight: 600; }

.active {
  color: #FF5A00 !important; }

.bold {
  font-weight: bold !important; }

main {
  flex: 1 0 auto; }

header {
  flex-shrink: 0; }

footer {
  flex-shrink: 0; }

.header .container-fluid .row .top_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0; }
  .header .container-fluid .row .top_bar .top_bar-logo .icon-logo .title-logo a {
    color: #FF5A00;
    font-family: "Mochiy Pop P One",sans-serif; }
  .header .container-fluid .row .top_bar .top_bar-nav .nav-list {
    margin: 0;
    display: flex;
    align-items: center; }
    .header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link {
      position: relative;
      transition: all linear 0.2s;
      --myContent: "\f107"; }
      .header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link::after {
        content: var(--myContent);
        display: inline-block;
        padding: 0 0 0 4px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900; }
      .header .container-fluid .row .top_bar .top_bar-nav .nav-list .nav-item .nav-item-link:hover {
        transition: all linear 0.2s;
        color: #FF5A00;
        --myContent: "\f106" ; }
  .header .container-fluid .row .top_bar .top_bar-login {
    display: flex;
    align-items: center; }
    .header .container-fluid .row .top_bar .top_bar-login .btn-login {
      border: 1px solid #faf7f7b7;
      font-weight: 600; }
      .header .container-fluid .row .top_bar .top_bar-login .btn-login:hover {
        transition: all linear 0.2s;
        color: #FF5A00; }
  .header .container-fluid .row .top_bar .expert {
    margin-left: 20px; }
    .header .container-fluid .row .top_bar .expert .expert-contact .expert-link {
      padding: 10px 12px;
      border-radius: 8px;
      border: 1px solid #1a1a1a;
      background-color: #171717;
      color: #fff; }
      .header .container-fluid .row .top_bar .expert .expert-contact .expert-link:hover {
        box-shadow: 0 0 6px 4px aqua; }

.main .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main .intro .box-intro {
    text-align: center;
    max-width: 800px;
    padding-top: 60px; }
    .main .intro .box-intro .box-title {
      width: 800px;
      height: 80px; }
      .main .intro .box-intro .box-title .title {
        display: inline-block;
        color: #642807c4;
        background-color: #ff590080;
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        font-weight: bold;
        border: none;
        box-shadow: 0 0 20px 5px #FF5A00;
        font-family: "Roboto Condensed", sans-serif; }
    .main .intro .box-intro .desc {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
      font-family: "Raleway", sans-serif;
      letter-spacing: 0.5px;
      font-weight: 500; }
    .main .intro .box-intro .box-img {
      position: relative;
      width: 100%;
      height: 330px; }
      .main .intro .box-intro .box-img .img {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 15px; }
.main .login-section {
  text-align: center;
  height: 70vh; }
  .main .login-section .login-box {
    width: 600px;
    height: auto;
    padding: 60px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 12vh; }
    .main .login-section .login-box form {
      text-align: center; }
    .main .login-section .login-box .btn-login {
      display: flex;
      justify-content: space-around; }
  .main .login-section .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    color: #ff5a00;
    line-height: 35px;
    text-decoration: none;
    font-weight: 600; }
  .main .login-section .login-box .user-box {
    position: relative; }
  .main .login-section .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent; }
  .main .login-section .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s; }
  .main .login-section .login-box .user-box input:focus ~ label,
  .main .login-section .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff5a00;
    font-size: 12px; }
  .main .login-section .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff5a00;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px; }
  .main .login-section .login-box a:hover {
    background: #ff5a00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff5a00, 0 0 25px #ff5a00, 0 0 50px #ff5a00, 0 0 100px #ff5a00; }
  .main .login-section .login-box a span {
    position: absolute;
    display: block; }
  .main .login-section .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff5a00);
    animation: btn-anim1 1s linear infinite; }
@keyframes btn-anim1 {
  0% {
    left: -100%; }
  50%,
            100% {
    left: 100%; } }
  .main .login-section .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff5a00);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s; }
@keyframes btn-anim2 {
  0% {
    top: -100%; }
  50%,
            100% {
    top: 100%; } }
  .main .login-section .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff5a00);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s; }
@keyframes btn-anim3 {
  0% {
    right: -100%; }
  50%,
            100% {
    right: 100%; } }
  .main .login-section .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff5a00);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s; }
@keyframes btn-anim4 {
  0% {
    bottom: -100%; }
  50%,
            100% {
    bottom: 100%; } }
.footer {
  background-color: #171717;
  margin-top: 12vh; }
  .footer .container .row .wrap-footer {
    padding: 40px 20px;
    display: flex; }
    .footer .container .row .wrap-footer .col-2 .footer_logo .footer_logo-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .footer .container .row .wrap-footer .col-2 .footer_logo .footer_logo-img a,
      .footer .container .row .wrap-footer .col-2 .footer_logo .footer_logo-img i {
        display: inline-block;
        color: #FF5A00;
        margin: 0;
        line-height: 35px;
        font-size: 35px; }
      .footer .container .row .wrap-footer .col-2 .footer_logo .footer_logo-img a {
        font-size: 25px; }
    .footer .container .row .wrap-footer .col-2 .footer_list .footer_item {
      line-height: 30px; }
      .footer .container .row .wrap-footer .col-2 .footer_list .footer_item a {
        font-size: 14px;
        display: block;
        margin: 0;
        color: #fff;
        font-weight: normal; }
        .footer .container .row .wrap-footer .col-2 .footer_list .footer_item a:hover {
          cursor: pointer;
          color: #FF5A00; }
      .footer .container .row .wrap-footer .col-2 .footer_list .footer_item input {
        border-radius: 10px;
        width: 40vh; }
      .footer .container .row .wrap-footer .col-2 .footer_list .footer_item input:focus {
        outline: none; }
    .footer .container .row .wrap-footer .col-2 .footer_list .footer_item:first-child a {
      font-size: 16px;
      cursor: text; }
      .footer .container .row .wrap-footer .col-2 .footer_list .footer_item:first-child a:hover {
        color: #fff; }
    .footer .container .row .wrap-footer .copyright-text {
      text-align: center;
      color: #fff; }
  .footer .container .row .version-text {
    text-align: center;
    color: #fff;
    padding-bottom: 30px; }

/*# sourceMappingURL=app.css.map */
