.btn {
 outline: none;
 border: 1px solid #1F1F1F;
 border-radius: 10px;
}
a {
 text-decoration: none;
 color: #1F1F1F;
}
a:hover {
	color: #1F1F1F;
 text-decoration: underline;
 text-decoration-color: #18A0FB;
text-decoration-skip-ink: initial;
}