a {
	   transition: all linear 0.2s;
    display: inline-block;
				padding: 8px 10px;
				margin-right: 8px;
				color: $textColor;
				text-decoration: none;
				font-weight: 600;
}
.active {
 color: $primaryColor !important;
}