/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-size: 24px;
  line-height: 36px;
  font-family: 'Poppins',sans-serif;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn {
  outline: none;
  border: 1px solid #1F1F1F;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #1F1F1F;
}

a:hover {
  color: #1F1F1F;
  text-decoration: underline;
  -webkit-text-decoration-color: #18A0FB;
          text-decoration-color: #18A0FB;
  text-decoration-skip-ink: initial;
}

.header .top-bar .container-fluid .row .wrapper {
  padding: 48px 130px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .top-bar .container-fluid .row .wrapper .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 175px;
}

.header .top-bar .container-fluid .row .wrapper .nav-list .nav-item a {
  display: inline-block;
  margin-right: 65px;
  font-weight: 500;
  padding: 5px;
}

.header .top-bar .container-fluid .row .wrapper .nav-list .nav-item:first-child a {
  background-image: -webkit-gradient(linear, left top, right top, from(#4C12C8), to(#FF9A34));
  background-image: linear-gradient(to right, #4C12C8, #FF9A34);
  display: inline-block;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

.header .top-bar .container-fluid .row .wrapper .nav-list .nav-item:first-child a::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#4C12C8), to(#FF9A34));
  background: linear-gradient(to right, #4C12C8, #FF9A34);
}

.header .top-bar .container-fluid .row .wrapper .form-login .btn-login,
.header .top-bar .container-fluid .row .wrapper .form-login .btn-signup {
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
}

.header .top-bar .container-fluid .row .wrapper .form-login .btn-login:hover,
.header .top-bar .container-fluid .row .wrapper .form-login .btn-signup:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #18A0FB;
          text-decoration-color: #18A0FB;
  text-decoration-skip-ink: initial;
}

.header .top-bar .container-fluid .row .wrapper .form-login .btn-signup {
  color: #C4C4C4;
  padding: 7px 20px;
}

.header .top-bar .container-fluid .row .wrapper .form-login .btn-login {
  color: #fff;
  background-color: #1F1F1F;
  padding: 7px 31px;
  margin-left: 40px;
}

.main .started .container-fluid .row .wrapper {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .started .container-fluid .row .wrapper .started-left {
  width: 1000px;
}

.main .started .container-fluid .row .wrapper .started-left .image {
  -o-object-fit: cover;
     object-fit: cover;
}

.main .started .container-fluid .row .wrapper .started-right {
  width: 920px;
}

.main .started .container-fluid .row .wrapper .started-right .wrap {
  width: 730px;
}

.main .started .container-fluid .row .wrapper .started-right .wrap .box-title .title {
  padding: 80px 0 20px;
  font-size: 88px;
  line-height: 108.97%;
  font-weight: bold;
  color: #1F1F1F;
}

.main .started .container-fluid .row .wrapper .started-right .wrap .description {
  font-size: 22px;
  line-height: 34px;
  padding-bottom: 35px;
}

.main .started .container-fluid .row .wrapper .started-right .wrap .btn-started {
  font-size: 36px;
  line-height: 55px;
  color: #fff;
  font-weight: bold;
  padding: 17px 64px;
  background: -webkit-gradient(linear, left top, right top, from(#4C12C8), to(#FF9A34));
  background: linear-gradient(to right, #4C12C8, #FF9A34);
  border: 4px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25), 8px 7px 11px rgba(162, 105, 121, 0.08);
          box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25), 8px 7px 11px rgba(162, 105, 121, 0.08);
  border-radius: 53px;
}
/*# sourceMappingURL=app.css.map */